version: "3.8"
services:

  db:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
  php:
    build: ./php
    container_name: php
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
  web:
    image: httpd:2.4
    container_name: apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./apache/my-vhost.conf:/usr/local/apache2/conf/httpd.conf
    depends_on:
      - php

volumes:
  db_data:
